# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nutrition_dw
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_pass

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=user_profiles
KAFKA_GROUP_ID=nutrition-consumer-group

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=nutrition-platform

# Logging
LOG_LEVEL=INFO
